# Server Configuration
PORT=3000

# HCM Integration
HCM_BASE_URL=http://localhost:3001

# Database Configuration (Defaults to database.sqlite if not set in main app, used in tests)
DATABASE_NAME=database.sqlite
